<h2>Chat</h2>

<ul id="message-list">
    <li>Sin mensajes aun</li>
</ul>

<textarea id="message" placeholder="Escriba su mensaje aqui..."></textarea>
<button id="send-btn">Enviar</button>

<script src="chat.js"></script>