<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A minima nobis quaerat architecto beatae repudiandae nisi
    maxime deserunt quas non? Ipsum quas rerum sunt reiciendis vel iste asperiores totam soluta.</p>
<button id="btn">traer usuarios</button>

<form id="user-form">
    <div>
        <input type="text" placeholder="nombre. Ej: Horacio">
    </div>
    <button>crear</button>
</form>

<script src="index.js"></script>